.header {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 60px;
    
    .list {
        position: relative;
        display: flex;
        justify-content: flex-end;
        right: 0;
        padding: 0;
        margin: 0;
        list-style-type: none;
        transform: translateY(-27px);

        &__link {
            margin: 0px 0px 0px 50px;
            font-weight: 500;
            font-size: 14px;
            color: #333333;
            text-decoration: none;
            &:hover {
                font-weight: 700;
            }
            
        }
    }
    .hamburger {
        display: none;
    }
}   